body {
    text-align: center;
    margin: 0;
}

header {
	background-color: #F15B31;
	padding: 30px 20px;
}

main {
	width: 850px;
	margin: 35px auto;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    font-size: 45px;
    margin: 0;
}

nav {
	background-color: #00A6B3;
	padding: 20px 0;
}

/*Navigation Functionality*/

.visible {
	width: 100%;
}

.instructions-hide {
	width: 100%;
	transform: translate(200%);
	transition: transform .3s ease-in;
}

.game-board-move-up {
	
}

/*////////////////////////*/

a {
	font-family: "Raleway", sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-bottom: 2px solid white;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
}

img {
	margin: 10px 8px 0 8px;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

/*Match Modal*/

.match-modal {
	border: 3px solid #F15B31;
	border-radius: 5px;
	background: repeating-linear-gradient(30deg,
					#F15B31, #F15B31 3px, white 0, white 10px);
	position: absolute;	
	top: 475px;
	left: 0;
	right: 0;
	margin: auto;
	width: 50%;
	height: 100px;
}

.modal-animation {
	border: 3px solid transparent;
	border-radius: 5px;
	background: transparent;
	position: absolute;	
	top: 430px;
	left: 0;
	right: 0;
	margin: auto;
	width: 80%;
	height: 150px;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transition-delay: .1s;
	transition-delay: .1s;

}


.match-message {
	display: block;
	width: 60%;
	margin: 15px auto 0 auto;
	padding: 10px 0;
	border: 3px solid #F15B31;
	border-radius: 5px;
	color: #F15B31;
	background-color: white;
	font-size: 1.8em;
	font-weight: 400;
}

.msg-animation {
	display: block;
	width: 95%;
	margin: -45px auto 0 auto;
	padding: 30px 0;
	border: 3px solid rgba(0, 0, 0, 0.0);
	border-radius: 5px;
	color: rgba(0, 0, 0, 0.0);
	background-color: rgba(0, 0, 0, 0.0);
	font-size: 5.5em;
	font-weight: 400;
	-webkit-transition: width 2s, font-size 1s, margin 1s, padding 1s, border .2s, background-color .5s, color 2s;
	transition: width 2s, font-size 1s, margin 1s, padding 1s, border .2s, background-color .5s, color 2s; 
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
}

/*/////////////*/

.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}

.message {
	font-family: "Raleway", sans-serif;
	float: right;
}

.name {
	color: #F15B31;
	font-weight: 700;
}